
.navbar {
    background-color: #ffffffcc;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 100px;
  }

  .navbar-brand {
    padding: 10px;
  }
  

  
  .navbar-nav .nav-link {
    color: #040303;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #1B98E0;
  }
  

  .dropdown-menu {
    background-color: #ffffffcc;
    border: 1px solid #cccccc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    color: #333333; 
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #f8f9fa;
    color: #333333;
  }
  